<div data-role="view" style="background: #FFFFFF;" data-title="Pop-Up Power Tap" data-layout="main" data-model="app.productViewPopUpPowerTapSubViewGallery" data-show="app.productViewPopUpPowerTapSubViewGallery.onShow" data-after-show="app.productViewPopUpPowerTapSubViewGallery.afterShow">
    <div class="sub-head">
        <h2>Pop-Up Power Tap</h2>
    </div>
    <div class="popTap-slider app-slider">
        <div><img src="components/images/popUpPowerTap/pop-up-application-image-1.jpg"></div>
        <div><img src="components/images/popUpPowerTap/pop-up-product-only-black.jpg"></div>
        <div><img src="components/images/popUpPowerTap/pop-up-product-only-white.jpg"></div> 

    </div>
    <!-- this is the template used by the listview. template items are automatically wrapped in an <li> by Kendo UI Mobile -->
<!--    <script type="text/x-kendo-template" id="contactsTemplate">
        <a data-bind="click: alert">#: data.name #</a> 
    </script>-->
</div>