<div data-role="view" style="background: #FFFFFF;" data-title="Ashley Duo" data-layout="main" data-model="app.productViewAshleyDuoSubViewGallery" data-show="app.productViewAshleyDuoSubViewGallery.onShow" data-after-show="app.productViewAshleyDuoSubViewGallery.afterShow">
    <!-- START_CUSTOM_CODE_contactsView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
<!--    <ul data-role="listview" data-style="inset" data-template="contactsTemplate" data-bind="source: dataSource"></ul>-->
    <div class="sub-head">
        <h2>Ashley Duo</h2>
    </div>
    <div class="ashDuo-slider app-slider">
        <div><img src="components/images/ashDuo/ashley-duo-application-image-1.jpg"></div>
        <div><img src="components/images/ashDuo/ashley-duo-application-image-2.jpg"></div>
        <div><img src="components/images/ashDuo/ashley-duo-application-image-3.jpg"></div>
        <div><img src="components/images/ashDuo/ashley-duo-standard-finishes.jpg"></div>
        <div><img src="components/images/ashDuo/ashley-duo-green-plastic-white-trim.jpg"></div>
        <div><img src="components/images/ashDuo/ashley-duo-blue-plastic-silver-trim.jpg"></div>
        <div><img src="components/images/ashDuo/ashley-duo-orange-plastic-black-trim.jpg"></div>
        <div><img src="components/images/ashDuo/ashley-duo-red-plastic-black-trim.jpg"></div>
        <div><img src="components/images/ashDuo/ashley-duo-white-plastic-white-trim.jpg"></div>
        <div><img src="components/images/ashDuo/ashley-duo-white-plastic-silver-trim.jpg"></div>
        <div><img src="components/images/ashDuo/ashley-duo-gray-plastic-silver-trim.jpg"></div>
        <div><img src="components/images/ashDuo/ashley-duo-gray-plastic-black-trim.jpg"></div>
        <div><img src="components/images/ashDuo/ashley-duo-black-plastic-silver-trim.jpg"></div>
        <div><img src="components/images/ashDuo/ashley-duo-black-plastic-black-trim.jpg"></div>

    </div>
        <div class="sub-menu">
            <a data-role="button" data-icon="home" href="components/productViewAshDuo/view.html" data-transition="fade"> Product Home</a>
        </div>
    <!-- this is the template used by the listview. template items are automatically wrapped in an <li> by Kendo UI Mobile -->
<!--    <script type="text/x-kendo-template" id="contactsTemplate">
        <a data-bind="click: alert">#: data.name #</a> 
    </script>-->
</div>