<div data-role="view" style="background: #FFFFFF;" data-title="Ashley Quad Bezel" data-layout="main" data-model="app.productViewAshQuadBezelInfo" data-show="app.productViewAshQuadBezelInfo.onShow" data-after-show="app.productViewAshQuadBezelInfo.afterShow">
    <!-- START_CUSTOM_CODE_contactsView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
<!--    <ul data-role="listview" data-style="inset" data-template="contactsTemplate" data-bind="source: dataSource"></ul>-->
    <div class="sub-head">
        <h2>Ashley Quad Bezel</h2>
    </div>
    <div class="ash-duo-main">  
<div class="products">
            <ul>
                <li>
                    <a href="components/productViewAshQuadBrochure/view.html" data-role="button" data-transition="fade">
                        <img src="components/productViewAshQuadInfo/images/ashQuadBrochure.png" alt="">
                        <span>Ashley Quad Bezel Brochure</span>
                    </a>  
                </li>
<!--                 <li>
                    <a href="components/productViewAshQuadBezelPriceList/view.html" data-role="button" data-transition="fade">
                        <img src="components/productViewAshQuadBezelInfo/images/priceList.png" alt="">
                        <span>Price List</span>
                    </a>
                </li> -->
                <li>
                    <a href="components/productViewAshQuadBezelInstallCorded/view.html" data-role="button" data-transition="fade">
                        <img src="components/productViewAshQuadBezelInfo/images/ashQuadBezelCorded.png" alt="">
                        <span>Ashley Quad Bezel Installation Instructions - Corded</span>
                    </a>
                </li>
                <li>
                    <a href="components/productViewAshQuadBezelInstallConduit/view.html" data-role="button" data-transition="fade">
                        <img src="components/productViewAshQuadBezelInfo/images/ashQuadBezelConduit.png" alt="">
                        <span>Ashley Quad Bezel Installation Instructions - Conduit</span>
                    </a>
                </li>
            </ul>
        </div> 
 
        <div class="sub-menu">
            <a data-role="button" data-icon="home" href="components/productViewAshQuadBezel/view.html" data-transition="fade"> Product Home</a>
            <a data-role="button" data-icon="organize" href="components/productViewAshQuadBezelSubViewGallery/view.html" data-transition="fade"> Gallery</a>
        </div>
    </div>
</div>