<div data-role="view" style="background: #FFFFFF;" data-title="Ashley Duo Wedge" data-layout="main" data-model="app.productViewAshDuoWedgeInfo" data-show="app.productViewAshDuoWedgeInfo.onShow" data-after-show="app.productViewAshDuoWedgeInfo.afterShow">
    <!-- START_CUSTOM_CODE_contactsView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
<!--    <ul data-role="listview" data-style="inset" data-template="contactsTemplate" data-bind="source: dataSource"></ul>-->
    <div class="sub-head">
        <h2>Ashley Duo Wedge</h2>
    </div>
    <div class="ash-duo-wedge-main">
        <div class="prod-info">
            <h3>Design</h3>
            <ul>
                <li>Clean Lines: Smooth face over USB ports and receptacle outlets, with a slim bezel</li>
                <li>Easy Access: Designed in an always-open position</li>
                <li>Sturdy: Durable steel-formed one-piece bezel housing stands up to heavy use</li>
            </ul>
            <h3>Technology</h3>
            <ul>
                <li>Dual 2.1 amp USB ports with Smart Recognition Chip
                    <ul>
                        <li>Monitor the power request from a device to self-regulate and supply all 2.1 amps or less, as needed by the device.</li>
                    </ul>
                </li>
                <li>FCC 15 Part A Approved
                    <ul>
                        <li>No interference with other devices</li>
                    </ul>
                </li>
                <li>UL1310, Class 2 Approvals</li>
                <li>Meets UL spill requirements</li>
                <li>Meets USB.org Charging 1.2 specs</li>
            </ul>
            
        </div>
        <div class="sub-menu">
            <a data-role="button" data-icon="home" href="components/productViewAshDuoWedge/view.html" data-transition="fade"> Product Home</a>
            <a data-role="button" data-icon="organize" href="components/productViewAshDuoWedgeSubViewGallery/view.html" data-transition="fade"> Gallery</a>
            <a data-role="button" data-icon="bookmarks" href="components/productViewAshDuoWedgeBrochure/view.html" data-transition="fade"> Brochure</a>

        </div>
    </div>
</div>