<div data-role="view" style="background: #FFFFFF;" data-title="Ashley Trio+" data-layout="main" data-model="app.productViewAshTrioPlusBezel" data-show="app.productViewAshTrioPlusBezel.onShow" data-after-show="app.productViewAshTrioPlusBezel.afterShow">
    <!-- START_CUSTOM_CODE_contactsView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
<!--    <ul data-role="listview" data-style="inset" data-template="contactsTemplate" data-bind="source: dataSource"></ul>-->
    <div class="sub-head">
        <h2>Ashley Trio Bezel</h2>
    </div>
    <div class="ash-trio-plus-bezel-main">
        <div class="prod-image">
            <img src="components/images/ashTrioPlusBezel/ashley-trio-bezel-application-image-7.jpg" alt=""> 
        </div> 
        <div class="sub-menu">
            <a data-role="button" data-icon="organize" href="components/productViewAshTrioPlusBezelSubViewGallery/view.html" data-transition="fade"> Gallery</a>
        </div>
    </div>
</div>