<div data-role="view" style="background: #FFFFFF;" data-title="Ashley 202" data-layout="main" data-model="app.productViewAsh202Info" data-show="app.productViewAsh202Info.onShow" data-after-show="app.productViewAsh202Info.afterShow">
    <!-- START_CUSTOM_CODE_contactsView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
<!--    <ul data-role="listview" data-style="inset" data-template="contactsTemplate" data-bind="source: dataSource"></ul>-->
    <div class="sub-head">
        <h2>Ashley 202</h2>
    </div>
    <div class="ash-duo-main">  
<div class="products">
            <ul>
                <li>
                    <a href="components/productViewAsh202Brochure/view.html" data-role="button" data-transition="fade">
                        <img src="components/productViewAsh202Info/images/ash202Brochure.png" alt="">
                        <span>Ashley 202 Brochure</span>
                    </a>  
                </li>
<!--                 <li>
                    <a href="components/productViewAsh202PriceList/view.html" data-role="button" data-transition="fade">
                        <img src="components/productViewAsh202Info/images/priceList.png" alt="">
                        <span>Price List</span>
                    </a>
                </li> -->
                <li>
                    <a href="components/productViewAsh202InstallCorded/view.html" data-role="button" data-transition="fade">
                        <img src="components/productViewAsh202Info/images/ash202Corded.png" alt="">
                        <span>Ashley 202 Installation Instructions - Corded</span>
                    </a>
                </li>
                <li>
                    <a href="components/productViewAsh202InstallConduit/view.html" data-role="button" data-transition="fade">
                        <img src="components/productViewAsh202Info/images/ash202Conduit.png" alt="">
                        <span>Ashley 202 Installation Instructions - Conduit</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="sub-menu">
            <a data-role="button" data-icon="home" href="components/productViewAsh202/view.html" data-transition="fade"> Product Home</a>
            <a data-role="button" data-icon="organize" href="components/productViewAsh202SubViewGallery/view.html" data-transition="fade"> Gallery</a>
        </div>
    </div>
</div>