<div data-role="view" style="background: #FFFFFF;" data-title="Mini Adapt Power Tap" data-layout="main" data-model="app.productViewMiniAdaptPowerTap" data-show="app.productViewMiniAdaptPowerTap.onShow" data-after-show="app.productViewMiniAdaptPowerTap.afterShow">
    <div class="sub-head">
        <h2>Mini Adapt Power Tap</h2>
    </div>
    <div class="mini-adapt-power-tap-main">
        <div class="prod-image">
            <img src="components/images/miniAdaptPowerTap/mini-adapt-application-image-1.jpg" alt=""> 
        </div> 
        <div class="sub-menu">
            <a data-role="button" data-icon="organize" href="components/productViewMiniAdaptPowerTapSubViewGallery/view.html" data-transition="fade"> Gallery</a>
        </div>
    </div>
</div>