<div data-role="view" style="background: #FFFFFF;" data-title="Ashley Quad Under" data-layout="main" data-model="app.productViewAshQuadUnderSubViewGallery" data-show="app.productViewAshQuadUnderSubViewGallery.onShow" data-after-show="app.productViewAshQuadUnderSubViewGallery.afterShow">
    <!-- START_CUSTOM_CODE_contactsView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
<!--    <ul data-role="listview" data-style="inset" data-template="contactsTemplate" data-bind="source: dataSource"></ul>-->
    <div class="sub-head">
        <h2>Ashley Quad Under</h2>
    </div>
    <div class="ashDuoUnder-slider app-slider">
        <div><img src="components/images/ashQuadUnder/ashley-quad-under-application-image-1.jpg"></div>
        <div><img src="components/images/ashQuadUnder/ashley-quad-under-green-plastic-white-trim.jpg"></div>
<div><img src="components/images/ashQuadUnder/ashley-quad-under-blue-plastic-silver-trim.jpg"></div>
<div><img src="components/images/ashQuadUnder/ashley-quad-under-orange-plastic-black-trim.jpg"></div>
<div><img src="components/images/ashQuadUnder/ashley-quad-under-red-plastic-black-trim.jpg"></div> 
        <div><img src="components/images/ashQuadUnder/ashley-quad-under-white-plastic-white-trim.jpg"></div>
        <div><img src="components/images/ashQuadUnder/ashley-quad-under-white-plastic-silver-trim.jpg"></div>
        <div><img src="components/images/ashQuadUnder/ashley-quad-under-white-plastic-black-trim.jpg"></div>
        <div><img src="components/images/ashQuadUnder/ashley-quad-under-gray-plastic-white-trim.jpg"></div>
        <div><img src="components/images/ashQuadUnder/ashley-quad-under-gray-plastic-silver-trim.jpg"></div>
        <div><img src="components/images/ashQuadUnder/ashley-quad-under-gray-plastic-black-trim.jpg"></div>
        <div><img src="components/images/ashQuadUnder/ashley-quad-under-black-plastic-silver-trim.jpg"></div>
        <div><img src="components/images/ashQuadUnder/ashley-quad-under-black-plastic-black-trim.jpg"></div>
    </div>
        <div class="sub-menu">
            <a data-role="button" data-icon="home" href="components/productViewAshQuadUnder/view.html" data-transition="fade"> Product Home</a>
                        <a data-role="button" data-icon="info" href="components/productViewAshQuadUnderInfo/view.html" data-transition="fade"> Information</a>
        </div>
    <!-- this is the template used by the listview. template items are automatically wrapped in an <li> by Kendo UI Mobile -->
<!--    <script type="text/x-kendo-template" id="contactsTemplate">
        <a data-bind="click: alert">#: data.name #</a> 
    </script>-->
</div>