<div data-role="view" style="background: #FFFFFF;" data-title="Low Voltage System (LVS)" data-layout="main" data-model="app.productViewLVSsubViewGallery" data-show="app.productViewLVSsubViewGallery.onShow" data-after-show="app.productViewLVSsubViewGallery.afterShow">
    <!-- START_CUSTOM_CODE_contactsView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
<!--    <ul data-role="listview" data-style="inset" data-template="contactsTemplate" data-bind="source: dataSource"></ul>-->
    <div class="sub-head">
        <h2>Low Voltage System (LVS)</h2>
    </div>
    <div class="lvs-slider app-slider">
        <div><img src="components/images/lvs/lvs-16ga-dc-jumper-cable.jpg" alt=""></div>
        <div><img src="components/images/lvs/lvs-150w-power-supply.jpg" alt=""></div>
        <div><img src="components/images/lvs/lvs-250w-power-supply.jpg" alt=""></div>
        <div><img src="components/images/lvs/lvs-application-image-1.jpg" alt=""></div>
        <div><img src="components/images/lvs/lvs-application-image-2.jpg" alt=""></div>
        <div><img src="components/images/lvs/lvs-application-image-3.jpg" alt=""></div>
        <div><img src="components/images/lvs/lvs-application-image-4.jpg" alt=""></div>
        <div><img src="components/images/lvs/lvs-application-image-5.jpg" alt=""></div>
        <div><img src="components/images/lvs/lvs-application-image-6.jpg" alt=""></div>
        <div><img src="components/images/lvs/lvs-application-image-7.jpg" alt=""></div>
        <div><img src="components/images/lvs/lvs-end-of-run-module.jpg" alt=""></div>
        <div><img src="components/images/lvs/lvs-in-line-module.jpg" alt=""></div>
        <div><img src="components/images/lvs/lvs-power-cords.jpg" alt=""></div>
        <div><img src="components/images/lvs/lvs-power-splitter.jpg" alt=""></div>
    </div>
    <!-- this is the template used by the listview. template items are automatically wrapped in an <li> by Kendo UI Mobile -->
<!--    <script type="text/x-kendo-template" id="contactsTemplate">
        <a data-bind="click: alert">#: data.name #</a> 
    </script>-->
</div>