<div data-role="view" style="background: #FFFFFF;" data-title="Ashley Duo Air" data-layout="main" data-model="app.productViewAshleyDuoAirSubViewGallery" data-show="app.productViewAshleyDuoAirSubViewGallery.onShow" data-after-show="app.productViewAshleyDuoAirSubViewGallery.afterShow">
    <!-- START_CUSTOM_CODE_contactsView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
<!--    <ul data-role="listview" data-style="inset" data-template="contactsTemplate" data-bind="source: dataSource"></ul>-->
    <div class="sub-head">
        <h2>Ashley Duo Air</h2>
    </div>
    <div class="ashDuoAir-slider app-slider">
        <div><img src="components/images/ashDuoAir/ashley-duo-air-application-image-1.jpg"></div>
        <div><img src="components/images/ashDuoAir/ashley-duo-air-application-image-2.jpg"></div>
        <div><img src="components/images/ashDuoAir/ashley-duo-air-application-image-3.jpg"></div>
        <div><img src="components/images/ashDuoAir/ashley-duo-air-application-image-4.jpg"></div>
        <div><img src="components/images/ashDuoAir/ashley-duo-air-application-image-5.jpg"></div>
        <div><img src="components/images/ashDuoAir/ashley-duo-air-application-image-6.jpg"></div>
        <div><img src="components/images/ashDuoAir/ashley-duo-air-view-1.jpg"></div>
        <div><img src="components/images/ashDuoAir/ashley-duo-air-view-2.jpg"></div>
        <div><img src="components/images/ashDuoAir/ashley-duo-air-view-3.jpg"></div>
        <div><img src="components/images/ashDuoAir/ashley-duo-air-standard-colors.jpg"></div>
        <div><img src="components/images/ashDuoAir/ashley-duo-air-standard-finishes.jpg"></div>
        <div><img src="components/images/ashDuoAir/ashley-duo-air-white-plastic-white-trim.jpg"></div>
        <div><img src="components/images/ashDuoAir/ashley-duo-air-white-plastic-silver-trim.jpg"></div>
        <div><img src="components/images/ashDuoAir/ashley-duo-air-gray-plastic-silver-trim.jpg"></div>
        <div><img src="components/images/ashDuoAir/ashley-duo-air-gray-plastic-black-trim.jpg"></div>
        <div><img src="components/images/ashDuoAir/ashley-duo-air-black-plastic-silver-trim.jpg"></div>
        <div><img src="components/images/ashDuoAir/ashley-duo-air-black-plastic-black-trim.jpg"></div>

    </div>
    <!-- this is the template used by the listview. template items are automatically wrapped in an <li> by Kendo UI Mobile -->
<!--    <script type="text/x-kendo-template" id="contactsTemplate">
        <a data-bind="click: alert">#: data.name #</a> 
    </script>-->
</div>