<div data-role="view" style="background: #FFFFFF;" data-title="Ashley Quad Under" data-layout="main" data-model="app.productViewAshQuadUnderPriceList" data-show="app.productViewAshQuadUnderPriceList.onShow" data-after-show="app.productViewAshQuadUnderPriceList.afterShow">
    <!-- START_CUSTOM_CODE_contactsView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
<!--    <ul data-role="listview" data-style="inset" data-template="contactsTemplate" data-bind="source: dataSource"></ul>-->
    <div class="sub-head">
        <h2>Ashley Quad Under</h2>
    </div>
    <div class="ash-duo-air-main">
        <div class="prod-info" style="padding: 0;">   
            <iframe src="components/brochures/priceList/index.html" width="100%" style="height: 63.125vh; overflow-x: scroll;"></iframe>
			
        </div>
        <div class="sub-menu">
            <a data-role="button" data-icon="home" href="components/productViewAshQuadUnder/view.html" data-transition="fade"> Product Home</a>
            <a data-role="button" data-icon="organize" href="components/productViewAshQuadUnderSubViewGallery/view.html" data-transition="fade"> Gallery</a>
            <a data-role="button" data-icon="info" href="components/productViewAshQuadUnderInfo/view.html" data-transition="fade"> Information</a>

        </div>
    </div>
</div>