@font-face {
    font-family: 'brandonBlack';
    src: url('brandontextblack.eot');
    src: url('brandontextblack.eot?#iefix') format('embedded-opentype'),
         url('brandontextblack.woff2') format('woff2'),
         url('brandontextblack.woff') format('woff'),
         url('brandontextblack.ttf') format('truetype'),
         url('brandontextblack.svg#brandon_textblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'brandonBlackItalic';
    src: url('brandontextblackitalic.eot');
    src: url('brandontextblackitalic.eot?#iefix') format('embedded-opentype'),
         url('brandontextblackitalic.woff2') format('woff2'),
         url('brandontextblackitalic.woff') format('woff'),
         url('brandontextblackitalic.ttf') format('truetype'),
         url('brandontextblackitalic.svg#brandon_textblack_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'brandonBold';
    src: url('brandontextbold.eot');
    src: url('brandontextbold.eot?#iefix') format('embedded-opentype'),
         url('brandontextbold.woff2') format('woff2'),
         url('brandontextbold.woff') format('woff'),
         url('brandontextbold.ttf') format('truetype'),
         url('brandontextbold.svg#brandon_textbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'brandonBoldItalic';
    src: url('fonts/brandontextbolditalic.eot');
    src: url('fonts/brandontextbolditalic.eot?#iefix') format('embedded-opentype'),
         url('fonts/brandontextbolditalic.woff2') format('woff2'),
         url('fonts/brandontextbolditalic.woff') format('woff'),
         url('fonts/brandontextbolditalic.ttf') format('truetype'),
         url('fonts/brandontextbolditalic.svg#brandon_textbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'brandonLight';
    src: url('fonts/brandontextlight.eot');
    src: url('fonts/brandontextlight.eot?#iefix') format('embedded-opentype'),
         url('fonts/brandontextlight.woff2') format('woff2'),
         url('fonts/brandontextlight.woff') format('woff'),
         url('fonts/brandontextlight.ttf') format('truetype'),
         url('fonts/brandontextlight.svg#brandon_textlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'brandonLightItalic';
    src: url('fonts/brandontextlightitalic.eot');
    src: url('fonts/brandontextlightitalic.eot?#iefix') format('embedded-opentype'),
         url('fonts/brandontextlightitalic.woff2') format('woff2'),
         url('fonts/brandontextlightitalic.woff') format('woff'),
         url('fonts/brandontextlightitalic.ttf') format('truetype'),
         url('fonts/brandontextlightitalic.svg#brandon_textlight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'brandonMedium';
    src: url('fonts/brandontextmedium.eot');
    src: url('fonts/brandontextmedium.eot?#iefix') format('embedded-opentype'),
         url('fonts/brandontextmedium.woff2') format('woff2'),
         url('fonts/brandontextmedium.woff') format('woff'),
         url('fonts/brandontextmedium.ttf') format('truetype'),
         url('fonts/brandontextmedium.svg#brandon_textmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'brandonMediumItalic';
    src: url('fonts/brandontextmediumitalic.eot');
    src: url('fonts/brandontextmediumitalic.eot?#iefix') format('embedded-opentype'),
         url('fonts/brandontextmediumitalic.woff2') format('woff2'),
         url('fonts/brandontextmediumitalic.woff') format('woff'),
         url('fonts/brandontextmediumitalic.ttf') format('truetype'),
         url('fonts/brandontextmediumitalic.svg#brandon_textmedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'brandonRegular';
    src: url('fonts/brandontextregular.eot');
    src: url('fonts/brandontextregular.eot?#iefix') format('embedded-opentype'),
         url('fonts/brandontextregular.woff2') format('woff2'),
         url('fonts/brandontextregular.woff') format('woff'),
         url('fonts/brandontextregular.ttf') format('truetype'),
         url('fonts/brandontextregular.svg#brandon_text_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'brandonRegularItalic';
    src: url('fonts/brandontextregularitalic.eot');
    src: url('fonts/brandontextregularitalic.eot?#iefix') format('embedded-opentype'),
         url('fonts/brandontextregularitalic.woff2') format('woff2'),
         url('fonts/brandontextregularitalic.woff') format('woff'),
         url('fonts/brandontextregularitalic.ttf') format('truetype'),
         url('fonts/brandontextregularitalic.svg#brandon_textregular_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'brandonThin';
    src: url('fonts/brandontextthin.eot');
    src: url('fonts/brandontextthin.eot?#iefix') format('embedded-opentype'),
         url('fonts/brandontextthin.woff2') format('woff2'),
         url('fonts/brandontextthin.woff') format('woff'),
         url('fonts/brandontextthin.ttf') format('truetype'),
         url('fonts/brandontextthin.svg#brandon_textthin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'brandonThinItalic';
    src: url('fonts/brandontextthinitalic.eot');
    src: url('fonts/brandontextthinitalic.eot?#iefix') format('embedded-opentype'),
         url('fonts/brandontextthinitalic.woff2') format('woff2'),
         url('fonts/brandontextthinitalic.woff') format('woff'),
         url('fonts/brandontextthinitalic.ttf') format('truetype'),
         url('fonts/brandontextthinitalic.svg#brandon_textthin_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}


header {
    background-color: #FFFFFF;
}
header.km-header {
  box-shadow: 0px -31px 5px 30px #a0a0a0;
}
#logo img{
    width: 90vw;
}
#logo a.km-button {
  display: block;
  color: transparent;
  border: 0 none;
  padding: 0;
  width: 100%;
}
#logo a.km-button.km-state-active {
    background: #FFFFFF;
}
.app-slider {
    overflow: hidden;
}
.app-slider div img {
    width: 100%;
    height: 61.3vh;
}
.home-slider {
    height: 74vh;
}
.home-slider div img {
    height: 74vh;
}
/*FOOTER*/
footer.km-footer {
  /*box-shadow: 0px 31px 5px 30px #a0a0a0;*/
}
.km-nova footer.km-footer {
  background: #FFFFFF;
}
footer .home-menu h3 {
  text-align: center;
  font-family: brandonLight;
  font-size: 2.75vw;
}
footer .home-menu h3 a {
  color: #000000 !important;
}
/*HOME VIEW*/
.home-menu { 
/*    position: absolute;
    bottom: 0;*/
    width: 100%;
/*    height: 18%;*/
    background-color: #FFFFFF; 
}
.home-menu a.menuBtn {
  display: block;
/*  width: 35vw;
  height: 18vw;*/
  width: 20vw;
  height: 10vw;
  padding: 0;
  margin: 3vw auto 0;
  border: 0 none;
}
.home-menu a.menuBtn#powerData {
  background-image: url('../images/power-data-btn.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 0; 
}
/*POWER AND DATA VIEW*/
.sub-head {
  margin: 0;
  padding: 2% 7.3% 2%;
  background-color: #878787;
  line-height: 1;
}
/*.sub-head h2 {
  color: #000000;
  text-transform: uppercase;
  font-family: brandonLight;
  text-shadow: none;
  margin: 0;
}*/
.sub-head h2 {
  color: #FFF;
  text-transform: uppercase;
  font-family: brandonRegular;
  text-shadow: none;
  margin: 0;
}
.products {
    background: #FFFFFF;
    width: 100%;
}
.products ul {
  margin: 4% auto 0 auto;
  background: #FFFFFF;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
/*.products ul li {
  display: inline-block;
  max-width: 30%;
  margin: 2% 1%;
}*/
.products ul li {
  display: inline-block;
  max-width: 17%;
  margin: 1% 3%;
}
.products ul li a img {
  max-width: 100%;
  margin-bottom: 0.75vh;
}
.products ul li a.km-button {
  color: #000000;
  font-family: brandonLight;
  border: 0 none;
  text-align: center;
  font-size: 2.5vw;
  padding: 0;
  border-radius: 0;
  vertical-align: top;
}
/*ALL PRODUCTS*/
.prod-image {
  overflow: hidden;
  height: 56.3vh;
}
.prod-image img {
  max-width: 100%; 
}
.prod-info {
  padding: 2.5vh 5vw 0;
  font-family: brandonLight;
  /*height: 61.3vh;*/
  margin-bottom: 3%;
  font-size: 22px;
}
.prod-info h3 {
  margin: 1vh 0 2vh;
  font-family: brandonMedium; 
  text-transform: uppercase;
}
.prod-info ul {
  padding: 0 0 0 5.5vw;
  margin: 5% 0; 
}
.prod-info ul li {
  margin: 2% 0;
}
.prod-info ul li ul {
    font-size: 85%;
    margin: 2.5% 0;
}
.sub-menu {
  text-align: center;
}
.sub-menu a.km-button {
  color: #000000;
  font-family: brandonLight;
  margin: 5% 2% 0 2%;
  width: 28%;
  border: 1px solid #000000;
  box-shadow: none;
  font-size: 2.5vw;
}
.sub-menu a.km-button.km-state-active { 
  background: transparent;
}
.app-slider img {
    max-width: 100%;
    height: 61.3vh;
}
/*LVS PRODUCT*/
/*.lvs-main div.prod-image img { 
  margin-top: -10vh;
}*/
/*LVS PRODUCT GALLERY*/
.lvs-slider {
  height: 56.3vh;
} 
/*LVS VIDEO*/
.lvs-main video {
  width: 100%;
  margin-top: 10vh;
  height: 50vh; 
}
/*ASHLEY DUO PRODUCT*/

/*ASHLEY DUO PRODUCT GALLERY*/
.ashDuo-slider { 
  height: 56.3vh;  
} 
/*ASHLEY DUO INFORMATION*/
.ash-duo-main .products ul li {
  display: inline-block;
  max-width: 36%;
  margin: 1% 3%;
}
.ash-duo-main .products ul li a img {
  max-width: 100%;
  margin-bottom: 0.75vh;
}
.ash-duo-main .products ul li a.km-button {
  color: #000000;
  font-family: brandonLight;
  border: 0 none;
  text-align: center;
  font-size: 3vw;
  padding: 0;
  border-radius: 0;
  vertical-align: top;
}
/*ASHLEY DUO AIR PRODUCT*/

/*ASHLEY DUO AIR PRODUCT GALLERY*/
.ashDuoAir-slider { 
  height: 56.3vh; 
} 
/*ASHLEY DUO AIR INFORMATION*/
.ash-duo-air-main .products ul li {
  display: inline-block;
  max-width: 36%;
  margin: 1% 3%;
}
.ash-duo-air-main .products ul li a img {
  max-width: 100%;
  margin-bottom: 0.75vh;
}
.ash-duo-air-main .products ul li a.km-button {
  color: #000000;
  font-family: brandonLight;
  border: 0 none;
  text-align: center;
  font-size: 3vw;
  padding: 0;
  border-radius: 0;
  vertical-align: top;
}
/*ASHLEY DUO BEZEL PRODUCT*/

/*ASHLEY DUO BEZEL PRODUCT GALLERY*/
.ashDuoBezel-slider { 
  height: 56.3vh; 
} 
/*ASHLEY DUO BEZEL INFORMATION*/
.ash-duo-bezel-main .products ul li {
  display: inline-block;
  max-width: 36%;
  margin: 1% 3%;
}
.ash-duo-bezel-main .products ul li a img {
  max-width: 100%;
  margin-bottom: 0.75vh;
}
.ash-duo-bezel-main .products ul li a.km-button {
  color: #000000;
  font-family: brandonLight;
  border: 0 none;
  text-align: center;
  font-size: 3vw;
  padding: 0;
  border-radius: 0;
  vertical-align: top;
}
/*ASHLEY DUO WEDGE PRODUCT*/

/*ASHLEY DUO WEDGE PRODUCT GALLERY*/
.ashDuoWedge-slider { 
  height: 56.3vh; 
}
/*ASHLEY DUO WEDGE INFORMATION*/
.ash-duo-wedge-main .products ul li {
  display: inline-block;
  max-width: 36%;
  margin: 1% 3%;
}
.ash-duo-wedge-main .products ul li a img {
  max-width: 100%;
  margin-bottom: 0.75vh;
}
.ash-duo-wedge-main .products ul li a.km-button {
  color: #000000;
  font-family: brandonLight;
  border: 0 none;
  text-align: center;
  font-size: 3vw;
  padding: 0;
  border-radius: 0;
  vertical-align: top;
}  
/*ASHLEY DUO UNDER PRODUCT*/

/*ASHLEY DUO UNDER PRODUCT GALLERY*/
.ashDuoUnder-slider { 
  height: 56.3vh;  
}
/*ASHLEY DUO UNDER INFORMATION*/
.ash-duo-under-main .products ul li {
  display: inline-block;
  max-width: 36%;
  margin: 1% 3%;
}
.ash-duo-under-main .products ul li a img {
  max-width: 100%;
  margin-bottom: 0.75vh;
}
.ash-duo-under-main .products ul li a.km-button {
  color: #000000;
  font-family: brandonLight;
  border: 0 none;
  text-align: center;
  font-size: 3vw;
  padding: 0;
  border-radius: 0;
  vertical-align: top;
} 
/*ASHLEY TRIO PRODUCT*/

/*ASHLEY TRIO PRODUCT GALLERY*/
.ashTrio-slider { 
  height: 56.3vh; 
}
/*ASHLEY TRIO INFORMATION*/
.ash-trio-plus-main .products ul li {
  display: inline-block;
  max-width: 36%;
  margin: 1% 3%;
}
.ash-trio-plus-main .products ul li a img {
  max-width: 100%;
  margin-bottom: 0.75vh;
}
.ash-trio-plus-main .products ul li a.km-button {
  color: #000000;
  font-family: brandonLight;
  border: 0 none;
  text-align: center;
  font-size: 3vw;
  padding: 0;
  border-radius: 0;
  vertical-align: top;
}  
/*ASHLEY TRIO BEZEL PRODUCT*/

/*ASHLEY TRIO BEZEL PRODUCT GALLERY*/
.ashTrioBezel-slider { 
  height: 56.3vh; 
}
/*ASHLEY TRIO BEZEL INFORMATION*/
.ash-trio-plus-bezel-main .products ul li {
  display: inline-block;
  max-width: 36%;
  margin: 1% 3%;
}
.ash-trio-plus-bezel-main .products ul li a img {
  max-width: 100%;
  margin-bottom: 0.75vh;
}
.ash-trio-plus-bezel-main .products ul li a.km-button {
  color: #000000;
  font-family: brandonLight;
  border: 0 none;
  text-align: center; 
  font-size: 3vw;
  padding: 0;
  border-radius: 0;
  vertical-align: top;
} 
/*ASHLEY TRIO UNDER PRODUCT*/ 

/*ASHLEY TRIO UNDER PRODUCT GALLERY*/
.ashTrioUnder-slider { 
  height: 56.3vh; 
}
/*ASHLEY TRIO UNDER INFORMATION*/
.ash-trio-plus-under-main .products ul li {
  display: inline-block;
  max-width: 36%;
  margin: 1% 3%;
}
.ash-trio-plus-under-main .products ul li a img {
  max-width: 100%;
  margin-bottom: 0.75vh;
}
.ash-trio-plus-under-main .products ul li a.km-button {
  color: #000000;
  font-family: brandonLight;
  border: 0 none;
  text-align: center; 
  font-size: 3vw;
  padding: 0;
  border-radius: 0;
  vertical-align: top;
}  
/*MINI TAP POWER TAP PRODUCT*/
mini-adapt-power-tap
/*MINI TAP POWER TAP PRODUCT GALLERY*/
.miniTap-slider { 
  height: 56.3vh; 
}
/*MINI ADAPT INFORMATION*/
.mini-adapt-power-tap-main .products ul li {
  display: inline-block;
  max-width: 36%;
  margin: 1% 3%;
}
.mini-adapt-power-tap-main .products ul li a img {
  max-width: 100%;
  margin-bottom: 0.75vh;
}
.mini-adapt-power-tap-main .products ul li a.km-button {
  color: #000000;
  font-family: brandonLight;
  border: 0 none;
  text-align: center; 
  font-size: 3vw;
  padding: 0;
  border-radius: 0;
  vertical-align: top;
}   
/*POP UP POWER TAP PRODUCT*/

/*POP UP POWER TAP PRODUCT GALLERY*/
.popTap-slider { 
  height: 56.3vh; 
} 
/*STAFFORD PRODUCT*/

/*STAFFORD PRODUCT GALLERY*/
.stafford-slider { 
  height: 56.3vh; 
} 
/*STAFFORD INFORMATION*/
.stafford-main .products ul li {
  display: inline-block;
  max-width: 36%;
  margin: 1% 3%;
}
.stafford-main .products ul li a img {
  max-width: 100%;
  margin-bottom: 0.75vh;
}
.stafford-main .products ul li a.km-button {
  color: #000000;
  font-family: brandonLight;
  border: 0 none;
  text-align: center; 
  font-size: 3vw;
  padding: 0;
  border-radius: 0;
  vertical-align: top;
}
/*STAFFORD MINI PRODUCT*/

/*STAFFORD MINI PRODUCT GALLERY*/
.staffordMini-slider { 
  height: 56.3vh;  
} 
/*LVS INFORMATION*/
.lvs-main .products ul li {
  display: inline-block;
  max-width: 36%;
  margin: 1% 3%;
}
.lvs-main .products ul li a img {
  max-width: 100%;
  margin-bottom: 0.75vh;
}
.lvs-main .products ul li a.km-button {
  color: #000000;
  font-family: brandonLight;
  border: 0 none;
  text-align: center; 
  font-size: 3vw;
  padding: 0;
  border-radius: 0;
  vertical-align: top;
}