<div data-role="view" style="background: #FFFFFF;" data-title="Stafford" data-layout="main" data-model="app.productViewStaffordInfo" data-show="app.productViewStaffordInfo.onShow" data-after-show="app.productViewStaffordInfo.afterShow">
    <div class="sub-head">
        <h2>Stafford</h2>
    </div>
    <div class="stafford-main">
        <div class="prod-info">
            <h3>Design</h3>
            <ul>
                <li>Continuous-cast bezel offers consistent, clean contact with table surface, presenting trim lines, smooth/seamless to the touch</li>
                <li>Resistance-hinge doors stay open on any angle for cable exit or lay flush</li>
                <li>Cavity for cable storage, entry/exit</li>
            </ul>
            <h3>Technology</h3>
            <ul>
                <li>4 2.1 Amp USB ports with Smart Recognition Chip</li>
                <li>4 AC outlets</li>
                <li>Choice of 4 Extron Mini MAAP plates</li>
                <li>FCC 15 Part A approved: No interference with other devices</li>
                <li>USB UL 1310 Recognized Class 2</li>
                <li>UL Listed UL962A UL962, UL Recognized UL111</li>
                <li>Meets UL spill requirements</li>
            </ul>
            
        </div>
        <div class="sub-menu">
             <a data-role="button" data-icon="home" href="components/productViewStafford/view.html" data-transition="fade"> Product Home</a>
             <a data-role="button" data-icon="organize" href="components/productViewStaffordSubViewGallery/view.html" data-transition="fade"> Gallery</a>
        </div>
    </div>
</div>