<div data-role="view" style="background: #FFFFFF;" data-title="Low Voltage System (LVS)" data-layout="main" data-model="app.productViewLVSVideo" data-show="app.productViewLVSVideo.onShow" data-after-show="app.productViewLVSVideo.afterShow">
    <!-- START_CUSTOM_CODE_contactsView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
<!--    <ul data-role="listview" data-style="inset" data-template="contactsTemplate" data-bind="source: dataSource"></ul>-->
    <div class="lvs-main">
        <video id="lvsVideo" style="height: 100vh; 100vw;" controls></video>
    </div>
</div> 