<div data-role="view" style="background: #FFFFFF;" data-title="Ashley 202" data-layout="main" data-model="app.productViewAsh202SubViewGallery" data-show="app.productViewAsh202SubViewGallery.onShow" data-after-show="app.productViewAsh202SubViewGallery.afterShow">
    <!-- START_CUSTOM_CODE_contactsView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
<!--    <ul data-role="listview" data-style="inset" data-template="contactsTemplate" data-bind="source: dataSource"></ul>-->
    <div class="sub-head">
        <h2>Ashley 202</h2> 
    </div>
    <div class="ashDuo-slider app-slider">
        <div><img src="components/images/ash202/ashley-202-application-image-1.jpg"></div>
        <div><img src="components/images/ash202/ashley-202-green-plastic-white-trim.jpg"></div>
        <div><img src="components/images/ash202/ashley-202-blue-plastic-silver-trim.jpg"></div>
        <div><img src="components/images/ash202/ashley-202-orange-plastic-black-trim.jpg"></div>
        <div><img src="components/images/ash202/ashley-202-red-plastic-black-trim.jpg"></div>
        <div><img src="components/images/ash202/ashley-202-white-plastic-white-trim.jpg"></div>
        <div><img src="components/images/ash202/ashley-202-white-plastic-silver-trim.jpg"></div>
		<div><img src="components/images/ash202/ashley-202-white-plastic-black-trim.jpg"></div>
        <div><img src="components/images/ash202/ashley-202-gray-plastic-white-trim.jpg"></div>
        <div><img src="components/images/ash202/ashley-202-gray-plastic-silver-trim.jpg"></div>
		<div><img src="components/images/ash202/ashley-202-gray-plastic-black-trim.jpg"></div>
        <div><img src="components/images/ash202/ashley-202-black-plastic-silver-trim.jpg"></div>
        <div><img src="components/images/ash202/ashley-202-black-plastic-black-trim.jpg"></div>

    </div>
        <div class="sub-menu">
            <a data-role="button" data-icon="home" href="components/productViewAsh202/view.html" data-transition="fade"> Product Home</a>
                        <a data-role="button" data-icon="info" href="components/productViewAsh202Info/view.html" data-transition="fade"> Information</a>
        </div>
    <!-- this is the template used by the listview. template items are automatically wrapped in an <li> by Kendo UI Mobile -->
<!--    <script type="text/x-kendo-template" id="contactsTemplate">
        <a data-bind="click: alert">#: data.name #</a> 
    </script>-->
</div>