<div data-role="view" style="background: #FFFFFF;" data-title="Ashley Uno Bezel" data-layout="main" data-model="app.productViewAshUnoBezelInfo" data-show="app.productViewAshUnoBezelInfo.onShow" data-after-show="app.productViewAshUnoBezelInfo.afterShow">
    <!-- START_CUSTOM_CODE_contactsView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
<!--    <ul data-role="listview" data-style="inset" data-template="contactsTemplate" data-bind="source: dataSource"></ul>-->
    <div class="sub-head">
        <h2>Ashley Uno Bezel</h2>
    </div>
    <div class="ash-duo-main">  
<div class="products">
            <ul>
                <li>
                    <a href="components/productViewAshUnoBrochure/view.html" data-role="button" data-transition="fade">
                        <img src="components/productViewAshUnoInfo/images/ashUnoBrochure.png" alt="">
                        <span>Ashley Uno Bezel Brochure</span>
                    </a>  
                </li>
                <li>
                    <a href="components/productViewAshUnoBezelPriceList/view.html" data-role="button" data-transition="fade">
                        <img src="components/productViewAshUnoBezelInfo/images/priceList.png" alt="">
                        <span>Price List</span>
                    </a>
                </li>
                <li>
                    <a href="components/productViewAshUnoBezelInstallCorded/view.html" data-role="button" data-transition="fade">
                        <img src="components/productViewAshUnoBezelInfo/images/ashUnoBezelCorded.png" alt="">
                        <span>Ashley Uno Bezel Installation Instructions - Corded</span>
                    </a>
                </li>
                <li>
                    <a href="components/productViewAshUnoBezelInstallConduit/view.html" data-role="button" data-transition="fade">
                        <img src="components/productViewAshUnoBezelInfo/images/ashUnoBezelConduit.png" alt="">
                        <span>Ashley Uno Bezel Installation Instructions - Conduit</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="sub-menu">
            <a data-role="button" data-icon="home" href="components/productViewAshUnoBezel/view.html" data-transition="fade"> Product Home</a>
            <a data-role="button" data-icon="organize" href="components/productViewAshleyUnoBezelSubViewGallery/view.html" data-transition="fade"> Gallery</a>
        </div>
    </div>
</div>