<div data-role="view" style="background: #FFFFFF;" data-title="Power &amp; Data" data-layout="main" data-model="app.powerDataView" data-show="app.powerDataView.onShow" data-after-show="app.powerDataView.afterShow">
    <!-- START_CUSTOM_CODE_contactsView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
<!--    <ul data-role="listview" data-style="inset" data-template="contactsTemplate" data-bind="source: dataSource"></ul>-->
        <div class="sub-head">
            <h2>Power & Data</h2>
        </div>
        <div class="products">
            <ul>
                <li>
                     <a href="components/productViewLVS/view.html" data-role="button" data-transition="fade">
                          <img src="components/powerDataView/images/lvs-icon.png" alt="">
                          <span>Low Voltage System</span>
                     </a>
                </li>
                <li>
                     <a href="components/products/productView2.html" data-role="button" data-transition="fade">
                          <img src="https://placeholdit.imgix.net/~text?txtsize=100&txt=Product+2&w=600&h=600" alt="">
                          <span>Product 2</span>
                     </a>
                </li>
                <li>
                     <a href="components/products/productView3.html" data-role="button" data-transition="fade">
                          <img src="https://placeholdit.imgix.net/~text?txtsize=100&txt=Product+3&w=600&h=600" alt="">
                          <span>Product 3</span>
                     </a>
                </li>
                <li>
                     <a href="components/products/productView4.html" data-role="button" data-transition="fade">
                          <img src="https://placeholdit.imgix.net/~text?txtsize=100&txt=Product+4&w=600&h=600" alt="">
                          <span>Product 4</span>
                     </a>
                </li>
                <li>
                     <a href="components/products/productView5.html" data-role="button" data-transition="fade">
                          <img src="https://placeholdit.imgix.net/~text?txtsize=100&txt=Product+5&w=600&h=600" alt="">
                          <span>Product 5</span>
                     </a>
                </li>
                <li>
                     <a href="components/products/productView6.html" data-role="button" data-transition="fade">
                          <img src="https://placeholdit.imgix.net/~text?txtsize=100&txt=Product+6&w=600&h=600" alt="">
                          <span>Product 6</span>
                     </a>
                </li>
                <li>
                     <a href="components/products/productView7.html" data-role="button" data-transition="fade">
                          <img src="https://placeholdit.imgix.net/~text?txtsize=100&txt=Product+7&w=600&h=600" alt="">
                          <span>Product 7</span>
                     </a>
                </li>
                <li>
                     <a href="components/products/productView8.html" data-role="button" data-transition="fade">
                          <img src="https://placeholdit.imgix.net/~text?txtsize=100&txt=Product+8&w=600&h=600" alt="">
                          <span>Product 8</span>
                     </a>
                </li>
                <li>
                     <a href="components/products/productView9.html" data-role="button" data-transition="fade">
                          <img src="https://placeholdit.imgix.net/~text?txtsize=100&txt=Product+9&w=600&h=600" alt="">
                          <span>Product 9</span>
                     </a>
                </li>
                <li>
                     <a href="components/products/productView10.html" data-role="button" data-transition="fade">
                          <img src="https://placeholdit.imgix.net/~text?txtsize=100&txt=Product+10&w=600&h=600" alt="">
                          <span>Product 10</span>
                     </a>
                </li>
            </ul>
        </div>
    <!-- this is the template used by the listview. template items are automatically wrapped in an <li> by Kendo UI Mobile -->
<!--    <script type="text/x-kendo-template" id="contactsTemplate">
        <a data-bind="click: alert">#: data.name #</a>
    </script>-->
</div>