<div data-role="view" style="background: #FFFFFF;" data-title="Power &amp; Data" data-layout="main" data-model="app.powerDataView" data-show="app.powerDataView.onShow" data-after-show="app.powerDataView.afterShow">
    <!-- START_CUSTOM_CODE_contactsView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
<!--    <ul data-role="listview" data-style="inset" data-template="contactsTemplate" data-bind="source: dataSource"></ul>-->
        <div class="sub-head">
            <h2>Power & Data</h2>
        </div>  
        <div class="products">
            <ul>
                <li>
                    <a href="components/productViewAshDuo/view.html" data-role="button" data-transition="fade">
                        <img src="components/powerDataView/images/ashley-duo-icon.png" alt="">
                        <span>Ashley Duo</span>
                    </a>
                </li>
                <li>
                    <a href="components/productViewAshDuoUnder/view.html" data-role="button" data-transition="fade">
                        <img src="components/powerDataView/images/ashley-duo-under-icon.png" alt="">
                        <span>Ashley Duo Under</span>
                    </a>
                </li>
                <li>
                    <a href="components/productViewAshDuoBezel/view.html" data-role="button" data-transition="fade">
                        <img src="components/powerDataView/images/ashley-duo-bezel-icon.png" alt="">
                        <span>Ashley Duo Bezel</span>
                    </a>
                </li>
                <li>
                    <a href="components/productViewAshDuoWedge/view.html" data-role="button" data-transition="fade">
                        <img src="components/powerDataView/images/ashley-duo-wedge-icon.png" alt="">
                        <span>Ashley Duo Wedge</span>
                    </a>
                </li>
                <li>
                    <a href="components/productViewAshDuoAir/view.html" data-role="button" data-transition="fade">
                        <img src="components/powerDataView/images/ashley-duo-air-icon.png" alt="">
                        <span>Ashley Duo Air</span>
                    </a>
                </li>
                <li>
                    <a href="components/productViewAshTrioPlus/view.html" data-role="button" data-transition="fade">
                        <img src="components/powerDataView/images/ashley-trio-plus-icon.png" alt="">
                        <span>Ashley Trio</span>
                    </a>
                </li>
                <li>
                    <a href="components/productViewAshTrioPlusUnder/view.html" data-role="button" data-transition="fade">
                        <img src="components/powerDataView/images/ashley-trio-plus-under-icon.png" alt="">
                        <span>Ashley Trio Under</span>
                    </a>
                </li>
                <li>
                    <a href="components/productViewAshTrioPlusBezel/view.html" data-role="button" data-transition="fade">
                        <img src="components/powerDataView/images/ashley-trio-plus-bezel-icon-award.png" alt="">
                        <span>Ashley Trio Bezel</span>
                    </a>
                </li>
                <li>
                    <a href="components/productViewMiniAdaptPowerTap/view.html" data-role="button" data-transition="fade">
                        <img src="components/powerDataView/images/mini-adapt-power-tap-icon2.png" alt="">
                        <span>Mini Adapt Power Tap</span>
                    </a>
                </li>
                <li>
                    <a href="components/productViewPopUpPowerTap/view.html" data-role="button" data-transition="fade">
                        <img src="components/powerDataView/images/pop-up-power-tap-icon.png" alt="">
                        <span>Pop-Up Power Tap</span>
                    </a>
                </li>
                <li>
                    <a href="components/productViewStafford/view.html" data-role="button" data-transition="fade">
                        <img src="components/powerDataView/images/stafford-icon.png" alt="">
                        <span>Stafford</span>
                    </a>
                </li>
                <li>
                    <a href="components/productViewStaffordMini/view.html" data-role="button" data-transition="fade">
                        <img src="components/powerDataView/images/stafford-mini-icon-silver.png" alt="">
                        <span>Stafford Mini</span>
                    </a>
                </li>
                <li>
                    <a href="components/productViewLVS/view.html" data-role="button" data-transition="fade">
                        <img src="components/powerDataView/images/lvs-icon-awards.png" alt="">
                        <span>Low Voltage System</span>
                    </a>
                </li>
            </ul>
        </div>
    <!-- this is the template used by the listview. template items are automatically wrapped in an <li> by Kendo UI Mobile -->
<!--    <script type="text/x-kendo-template" id="contactsTemplate">
        <a data-bind="click: alert">#: data.name #</a>
    </script>-->
</div>