<div data-role="view" style="background: #FFFFFF;" data-title="Stafford" data-layout="main" data-model="app.productViewStaffordSubViewGallery" data-show="app.productViewStaffordSubViewGallery.onShow" data-after-show="app.productViewStaffordSubViewGallery.afterShow">
    <!-- START_CUSTOM_CODE_contactsView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
<!--    <ul data-role="listview" data-style="inset" data-template="contactsTemplate" data-bind="source: dataSource"></ul>-->
    <div class="sub-head">
        <h2>Stafford</h2>
    </div>
    <div class="stafford-slider app-slider">
        <div><img src="components/images/stafford/stafford-application-image-2.jpg"></div>
        <div><img src="components/images/stafford/stafford-application-image-1.jpg"></div>
        <div><img src="components/images/stafford/stafford-application-image-3.jpg"></div>
        <div><img src="components/images/stafford/stafford-application-image-4.jpg"></div>
        <div><img src="components/images/stafford/stafford-black.jpg"></div>
        <div><img src="components/images/stafford/stafford-silver.jpg"></div>
        <div><img src="components/images/stafford/stafford-white.jpg"></div>

    </div>
        <div class="sub-menu">
            <a data-role="button" data-icon="home" href="components/productViewStafford/view.html" data-transition="fade"> Product Home</a>
            <a data-role="button" data-icon="info" href="components/productViewStaffordInfo/view.html" data-transition="fade"> Information</a>
        </div>
    <!-- this is the template used by the listview. template items are automatically wrapped in an <li> by Kendo UI Mobile -->
<!--    <script type="text/x-kendo-template" id="contactsTemplate">
        <a data-bind="click: alert">#: data.name #</a> 
    </script>-->
</div>