<div data-role="view" style="background: #FFFFFF;" data-title="Mini Adapt Power Tap" data-layout="main" data-model="app.productViewMiniAdaptPowerTapSubViewGallery" data-show="app.productViewMiniAdaptPowerTapSubViewGallery.onShow" data-after-show="app.productViewMiniAdaptPowerTapSubViewGallery.afterShow">
    <div class="sub-head">
        <h2>Mini Adapt Power Tap</h2>
    </div>
    <div class="miniTap-slider app-slider">
        <div><img src="components/images/miniAdaptPowerTap/mini-adapt-application-image-1.jpg"></div>
        <div><img src="components/images/miniAdaptPowerTap/mini-adapt-application-image-2.jpg"></div>
        <div><img src="components/images/miniAdaptPowerTap/mini-adapt-white.jpg"></div>
        <div><img src="components/images/miniAdaptPowerTap/mini-adapt-black.jpg"></div> 

    </div>
    <!-- this is the template used by the listview. template items are automatically wrapped in an <li> by Kendo UI Mobile -->
<!--    <script type="text/x-kendo-template" id="contactsTemplate">
        <a data-bind="click: alert">#: data.name #</a> 
    </script>-->
</div>