<div data-role="view" style="background: #FFFFFF;" data-title="Ashley 210" data-layout="main" data-model="app.productViewAsh210Info" data-show="app.productViewAsh210Info.onShow" data-after-show="app.productViewAsh210Info.afterShow">
    <!-- START_CUSTOM_CODE_contactsView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
<!--    <ul data-role="listview" data-style="inset" data-template="contactsTemplate" data-bind="source: dataSource"></ul>-->
    <div class="sub-head">
        <h2>Ashley 210</h2>
    </div>
    <div class="ash-duo-main">  
<div class="products">
            <ul>
                <li>
                    <a href="components/productViewAsh210Brochure/view.html" data-role="button" data-transition="fade">
                        <img src="components/productViewAsh210Info/images/ash210Brochure.png" alt="">
                        <span>Ashley 210 Brochure</span>
                    </a>  
                </li>
<!--                 <li>
                    <a href="components/productViewAsh210PriceList/view.html" data-role="button" data-transition="fade">
                        <img src="components/productViewAsh210Info/images/priceList.png" alt="">
                        <span>Price List</span>
                    </a>
                </li> -->
                <li>
                    <a href="components/productViewAsh210InstallCorded/view.html" data-role="button" data-transition="fade">
                        <img src="components/productViewAsh210Info/images/ash210Corded.png" alt="">
                        <span>Ashley 210 Installation Instructions - Corded</span>
                    </a>
                </li>
                <li>
                    <a href="components/productViewAsh210InstallConduit/view.html" data-role="button" data-transition="fade">
                        <img src="components/productViewAsh210Info/images/ash210Conduit.png" alt="">
                        <span>Ashley 210 Installation Instructions - Conduit</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="sub-menu">
            <a data-role="button" data-icon="home" href="components/productViewAsh210/view.html" data-transition="fade"> Product Home</a>
            <a data-role="button" data-icon="organize" href="components/productViewAsh210SubViewGallery/view.html" data-transition="fade"> Gallery</a>
        </div>
    </div>
</div>