<div data-role="view" style="background: #FFFFFF;" data-title="Pop-Up Power Tap" data-layout="main" data-model="app.productViewPopUpPowerTap" data-show="app.productViewPopUpPowerTap.onShow" data-after-show="app.productViewPopUpPowerTap.afterShow">
    <div class="sub-head">
        <h2>Pop-Up Power Tap</h2>
    </div>
    <div class="pop-up-power-tap-main">
        <div class="prod-image">
            <img src="components/images/popUpPowerTap/pop-up-application-image-1.jpg" alt=""> 
        </div> 
        <div class="sub-menu">
            <a data-role="button" data-icon="organize" href="components/productViewPopUpPowerTapSubViewGallery/view.html" data-transition="fade"> Gallery</a>
        </div>
    </div>
</div>