<div data-role="view" style="background: #FFFFFF;" data-title="Ashley Uno Bezel" data-layout="main" data-model="app.productViewAshUnoBezelSubViewGallery" data-show="app.productViewAshUnoBezelSubViewGallery.onShow" data-after-show="app.productViewAshUnoBezelSubViewGallery.afterShow">
    <!-- START_CUSTOM_CODE_contactsView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
<!--    <ul data-role="listview" data-style="inset" data-template="contactsTemplate" data-bind="source: dataSource"></ul>-->
    <div class="sub-head">
        <h2>Ashley Uno Bezel</h2>
    </div>
    <div class="ashDuoBezel-slider app-slider">
        <div><img src="components/images/ashUnoBezel/ashley-uno-bezel-application-image-1.jpg"></div>
        <div><img src="components/images/ashUnoBezel/ashley-uno-bezel-green-plastic-white-trim.jpg"></div>
		<div><img src="components/images/ashUnoBezel/ashley-uno-bezel-blue-plastic-silver-trim.jpg"></div>
		<div><img src="components/images/ashUnoBezel/ashley-uno-bezel-orange-plastic-black-trim.jpg"></div>
		<div><img src="components/images/ashUnoBezel/ashley-uno-bezel-red-plastic-black-trim.jpg"></div>
		<div><img src="components/images/ashUnoBezel/ashley-uno-bezel-white-plastic-white-trim.jpg"></div>
		<div><img src="components/images/ashUnoBezel/ashley-uno-bezel-white-plastic-silver-trim.jpg"></div>
		<div><img src="components/images/ashUnoBezel/ashley-uno-bezel-white-plastic-black-trim.jpg"></div>
		<div><img src="components/images/ashUnoBezel/ashley-uno-bezel-gray-plastic-white-trim.jpg"></div>
		<div><img src="components/images/ashUnoBezel/ashley-uno-bezel-gray-plastic-silver-trim.jpg"></div>
		<div><img src="components/images/ashUnoBezel/ashley-uno-bezel-gray-plastic-black-trim.jpg"></div>
		<div><img src="components/images/ashUnoBezel/ashley-uno-bezel-black-plastic-silver-trim.jpg"></div>
		<div><img src="components/images/ashUnoBezel/ashley-uno-bezel-black-plastic-black-trim.jpg"></div>
    </div>
        <div class="sub-menu">
            <a data-role="button" data-icon="home" href="components/productViewAshUnoBezel/view.html" data-transition="fade"> Product Home</a>
            <a data-role="button" data-icon="info" href="components/productViewAshUnoBezelInfo/view.html" data-transition="fade"> Information</a>
        </div>
    <!-- this is the template used by the listview. template items are automatically wrapped in an <li> by Kendo UI Mobile -->
<!--    <script type="text/x-kendo-template" id="contactsTemplate">
        <a data-bind="click: alert">#: data.name #</a> 
    </script>-->
</div>