<div data-role="view" style="background: #FFFFFF;" data-title="Ashley Quad" data-layout="main" data-model="app.productViewAshQuadInfo" data-show="app.productViewAshQuadInfo.onShow" data-after-show="app.productViewAshQuadInfo.afterShow">
    <!-- START_CUSTOM_CODE_contactsView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
<!--    <ul data-role="listview" data-style="inset" data-template="contactsTemplate" data-bind="source: dataSource"></ul>-->
    <div class="sub-head">
        <h2>Ashley Quad</h2>
    </div>
    <div class="ash-duo-main">  
<div class="products">
            <ul>
                <li>
                    <a href="components/productViewAshQuadBrochure/view.html" data-role="button" data-transition="fade">
                        <img src="components/productViewAshQuadInfo/images/ashQuadBrochure.png" alt="">
                        <span>Ashley Quad Brochure</span>
                    </a>  
                </li>
<!--                 <li>
                    <a href="components/productViewAshQuadPriceList/view.html" data-role="button" data-transition="fade">
                        <img src="components/productViewAshQuadInfo/images/priceList.png" alt="">
                        <span>Price List</span>
                    </a>
                </li> -->
                <li>
                    <a href="components/productViewAshQuadInstallCorded/view.html" data-role="button" data-transition="fade">
                        <img src="components/productViewAshQuadInfo/images/ashQuadCorded.png" alt="">
                        <span>Ashley Quad Installation Instructions - Corded</span>
                    </a>
                </li>
                <li>
                    <a href="components/productViewAshQuadInstallConduit/view.html" data-role="button" data-transition="fade">
                        <img src="components/productViewAshQuadInfo/images/ashQuadConduit.png" alt="">
                        <span>Ashley Quad Installation Instructions - Conduit</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="sub-menu">
            <a data-role="button" data-icon="home" href="components/productViewAshQuad/view.html" data-transition="fade"> Product Home</a>
            <a data-role="button" data-icon="organize" href="components/productViewAshQuadSubViewGallery/view.html" data-transition="fade"> Gallery</a>
        </div>
    </div>
</div>