<div data-role="view" style="background: #FFFFFF;" data-title="Low Voltage System (LVS)" data-layout="main" data-model="app.productViewLVSInfo" data-show="app.productViewLVSInfo.onShow" data-after-show="app.productViewLVSInfo.afterShow">
    <!-- START_CUSTOM_CODE_contactsView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
<!--    <ul data-role="listview" data-style="inset" data-template="contactsTemplate" data-bind="source: dataSource"></ul>-->
    <div class="sub-head">
        <h2>Low Voltage System (LVS)</h2>
    </div>
    <div class="lvs-main">
<div class="products">
            <ul>
                <li>
                    <a href="components/productViewLVSBrochure/view.html" data-role="button" data-transition="fade">
                        <img src="components/productViewLVSInfo/images/LVSBrochure.png" alt=""> 
                        <span>Low Voltage System Installation (LVS) Brochure</span>
                    </a>  
                </li>
                <li>
                    <a href="components/productViewLVSPriceList/view.html" data-role="button" data-transition="fade">
                        <img src="components/productViewLVSInfo/images/priceList.png" alt="">
                        <span>Price List</span>
                    </a>
                </li>
                <li>
                    <a href="components/productViewLVSInstall/view.html" data-role="button" data-transition="fade">
                        <img src="components/productViewLVSInfo/images/LVSInstall.png" alt="">
                        <span>Low Voltage System Installation (LVS) Instructions</span>
                    </a>
                </li>
            </ul>
        </div>        
<!--        <div class="prod-info">
            <h3>Technology</h3>
            <ul>
                <li>Highest power charging in furniture market:
                    <ul>
                        <li>Dual 2.4 Amp USB ports</li>
                        <li>Smart Recognition Chip to monitor the power request from a device to self-regulate and supply all power as needed by device.</li>
                    </ul>
                </li>
                <li>Input and Output Overload protection</li>
                <li>Global UL listed power supply</li>
                <li>DC Jumper Cables: span 12' from power supply or module</li>
                <li>FCC Part 15B approved: No interference with other devices</li>
                <li>UL1310, Class 2 Approvals</li>
                <li>Meets USB.org Charging 1.2 specs</li>
            </ul>
            
        </div>-->
        <div class="sub-menu">
            <a data-role="button" data-icon="organize" href="components/productViewLVSsubViewGallery/view.html" data-transition="fade"> Gallery</a>
            <a data-role="button" data-icon="play" href="components/productViewLVSVideo/view.html" data-transition="fade"> Video</a>
            <a data-role="button" data-icon="home" href="components/productViewLVS/view.html" data-transition="fade"> Product Home</a>
        </div>
    </div>
</div>