<div data-role="view" style="background: #FFFFFF;" data-title="Ashley Duo Air" data-layout="main" data-model="app.productViewAshDuoAirInfo" data-show="app.productViewAshDuoAirInfo.onShow" data-after-show="app.productViewAshDuoAirInfo.afterShow">
    <!-- START_CUSTOM_CODE_contactsView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
<!--    <ul data-role="listview" data-style="inset" data-template="contactsTemplate" data-bind="source: dataSource"></ul>-->
    <div class="sub-head">
        <h2>Ashley Duo Air</h2>
    </div>
    <div class="ash-duo-air-main">
<div class="products">
            <ul>
                <li>
                    <a href="components/productViewAshDuoAirBrochure/view.html" data-role="button" data-transition="fade">
                        <img src="components/productViewAshDuoAirInfo/images/ashDuoAirBrochure.png" alt="">
                        <span>Ashley Duo Air Brochure</span>
                    </a>  
                </li>
<!--                 <li>
                    <a href="components/productViewAshDuoAirPriceList/view.html" data-role="button" data-transition="fade">
                        <img src="components/productViewAshDuoAirInfo/images/priceList.png" alt="">
                        <span>Price List</span>
                    </a>
                </li> -->
                <li>
                    <a href="components/productViewAshDuoAirInstallCorded/view.html" data-role="button" data-transition="fade">
                        <img src="components/productViewAshDuoAirInfo/images/ashDuoAirCorded.png" alt="">
                        <span>Ashley Duo Air Installation Instructions - Corded</span>
                    </a>
                </li>
                <li>
                    <a href="components/productViewAshDuoAirInstallConduit/view.html" data-role="button" data-transition="fade">
                        <img src="components/productViewAshDuoAirInfo/images/ashDuoAirConduit.png" alt="">
                        <span>Ashley Duo Air Installation Instructions - Conduit</span>
                    </a>
                </li>
            </ul>
        </div>
 <!--       <div class="prod-info">
            <h3>Design</h3>
            <ul>
                <li>Clean Lines: Smooth face over USB ports and receptacle outlets, with a slim bezel</li>
                <li>Open or Closed</li>
                <li>Quiet Closure: Gas strut mechanism, light touch to open or close</li>
            </ul>
            <h3>Technology</h3>
            <ul>
                <li>Dual 2.1 amp USB ports with Smart Recognition Chip
                    <ul>
                        <li>Monitor the power request from a device to self-regulate and supply all 2.1 amps or less, as needed by the device.</li>
                    </ul>
                </li>
                <li>FCC 15 Part A Approved
                    <ul>
                        <li>No interference with other devices</li>
                    </ul>
                </li>
                <li>UL1310, Class 2 Approvals</li>
                <li>Meets UL spill requirements</li>
                <li>Meets USB.org Charging 1.2 specs</li>
            </ul>
            
        </div>-->
        <div class="sub-menu">
            <a data-role="button" data-icon="home" href="components/productViewAshDuoAir/view.html" data-transition="fade"> Product Home</a>
            <a data-role="button" data-icon="organize" href="components/productViewAshleyDuoAirSubViewGallery/view.html" data-transition="fade"> Gallery</a>
        </div>
    </div>
</div>