<div data-role="view" style="background: #FFFFFF;" data-title="Ashley Trio+" data-layout="main" data-model="app.productViewAshTrioPlusSubViewGallery" data-show="app.productViewAshTrioPlusSubViewGallery.onShow" data-after-show="app.productViewAshTrioPlusSubViewGallery.afterShow">
    <!-- START_CUSTOM_CODE_contactsView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
<!--    <ul data-role="listview" data-style="inset" data-template="contactsTemplate" data-bind="source: dataSource"></ul>-->
    <div class="sub-head">
        <h2>Ashley Trio+</h2>
    </div>
    <div class="ashTrio-slider app-slider">
        <div><img src="components/images/ashTrioPlus/ashley-trio-application-image-1.jpg"></div>
<!--        <div><img src="components/images/ashTrioPlus/ashley-trio-application-image-2.jpg"></div>-->
        <div><img src="components/images/ashTrioPlus/ashley-trio-application-image-3.jpg"></div>
        <div><img src="components/images/ashTrioPlus/ashley-trio-standard-finishes.jpg"></div>
        <div><img src="components/images/ashTrioPlus/ashley-trio-green-plastic-white-trim.jpg"></div>
<div><img src="components/images/ashTrioPlus/ashley-trio-blue-plastic-silver-trim.jpg"></div>
<div><img src="components/images/ashTrioPlus/ashley-trio-orange-plastic-black-trim.jpg"></div>
<div><img src="components/images/ashTrioPlus/ashley-trio-red-plastic-black-trim.jpg"></div> 
        <div><img src="components/images/ashTrioPlus/ashley-trio-white-plastic-white-trim.jpg"></div>
        <div><img src="components/images/ashTrioPlus/ashley-trio-white-plastic-silver-trim.jpg"></div>
        <div><img src="components/images/ashTrioPlus/ashley-trio-gray-plastic-silver-trim.jpg"></div>
        <div><img src="components/images/ashTrioPlus/ashley-trio-gray-plastic-black-trim.jpg"></div>
        <div><img src="components/images/ashTrioPlus/ashley-trio-black-plastic-silver-trim.jpg"></div>
        <div><img src="components/images/ashTrioPlus/ashley-trio-black-plastic-black-trim.jpg"></div>

    </div>
        <div class="sub-menu">
            <a data-role="button" data-icon="home" href="components/productViewAshTrioPlus/view.html" data-transition="fade"> Product Home</a>
        </div>
    <!-- this is the template used by the listview. template items are automatically wrapped in an <li> by Kendo UI Mobile -->
<!--    <script type="text/x-kendo-template" id="contactsTemplate">
        <a data-bind="click: alert">#: data.name #</a> 
    </script>-->
</div>