<div data-role="view" style="background: #FFFFFF;" data-title="Ashley Quad Under" data-layout="main" data-model="app.productViewAshQuadUnderInfo" data-show="app.productViewAshQuadUnderInfo.onShow" data-after-show="app.productViewAshQuadUnderInfo.afterShow">
    <!-- START_CUSTOM_CODE_contactsView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
<!--    <ul data-role="listview" data-style="inset" data-template="contactsTemplate" data-bind="source: dataSource"></ul>-->
    <div class="sub-head">
        <h2>Ashley Quad Under</h2>
    </div>
    <div class="ash-duo-main">  
<div class="products">
            <ul>
                <li>
                    <a href="components/productViewAshQuadBrochure/view.html" data-role="button" data-transition="fade">
                        <img src="components/productViewAshQuadInfo/images/ashQuadBrochure.png" alt="">
                        <span>Ashley Quad Under Brochure</span>
                    </a>  
                </li>
<!--                 <li>
                    <a href="components/productViewAshQuadUnderPriceList/view.html" data-role="button" data-transition="fade">
                        <img src="components/productViewAshQuadUnderInfo/images/priceList.png" alt="">
                        <span>Price List</span>
                    </a>
                </li> -->
                <li>
                    <a href="components/productViewAshQuadUnderInstallCorded/view.html" data-role="button" data-transition="fade">
                        <img src="components/productViewAshQuadUnderInfo/images/ashQuadUnderCorded.png" alt="">
                        <span>Ashley Quad Under Installation Instructions - Corded</span>
                    </a>
                </li>
                <li>
                    <a href="components/productViewAshQuadUnderInstallConduit/view.html" data-role="button" data-transition="fade">
                        <img src="components/productViewAshQuadUnderInfo/images/ashQuadUnderConduit.png" alt="">
                        <span>Ashley Quad Under Installation Instructions - Conduit</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="sub-menu">
            <a data-role="button" data-icon="home" href="components/productViewAshQuadUnder/view.html" data-transition="fade"> Product Home</a>
            <a data-role="button" data-icon="organize" href="components/productViewAshQuadUnderSubViewGallery/view.html" data-transition="fade"> Gallery</a>
        </div>
    </div>
</div>